body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


.business{
  width: 350px;
  border: 1px solid #fff;
  /* margin-left: 20px; */
  height: 350px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: -20px;
}
.business-name{
  margin-bottom: -10px;
}
.business-img{
  height: 200px;
  width: 300px;
  margin-bottom: -20px;

}


.sub-container{
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -35px;
}
.category{
  font-size: 1.2em;
  color: goldenrod;
  text-transform: uppercase;
}
.rating{
  color: goldenrod;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;

}

.bussiness-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* padding: 20px; */
    margin: 20px;
    width: 70%;
}

.search-container{
  width: 100%;
  height: 500px;
  display: grid;
  align-content: center;
  /* border: 1px solid black; */
  background-image: url('./images/background_search_desktop.jpg');
  background-size: cover;
  background-position: center;
}

.search-option-container{
  width: 32%;
  margin: 0 auto;

}

.search-option-container ul{
  display: grid;
  grid-template-columns: repeat(3, 14%);
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  justify-content: center;
  gap: 30px;
  margin: auto;
  gap: 80px;

}
.search-option-container li{
  font-weight: bold;
  color: #fff;
}
.auto{
  width: 300px;
  margin: auto;
}
hr{
  width: 88%;
  /* margin-left: 140px; */
}
.box{
  height: 100px;
  width: 300px;
  border: 1px solid black;
}





